#!/usr/bin/env bash

alias config="git --git-dir=$HOME/.config/.dotfiles-kali/.git --work-tree=$HOME"

alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

alias ports='sudo lsof -nP 2>/dev/null | grep LISTEN | sed -re "s/ +/ /g" | cut -d " " -f 1,3,9 | sort -u | column -t'

alias cppcompile='c++ -std=c++11 -stdlib=libc++'

alias rgall="rg --files --hidden --follow -g '!{node_modules,.git,Library,Pictures,.nvm,.npm,.local,.cargo,.pyenv,.pyenv-versions,repositories,Google Drive/Other computers/}'"
alias filespreview="fzf --preview 'bat --style=numbers --color=always --line-range :500 {}'"
alias openhistory="nvim ~/.zhistory"

alias mkvenv='python3 -m venv .venv && source .venv/bin/activate'
alias actvenv='source .venv/bin/activate'
